<%
        def printColor(value)
                ret=''
                        if (value<0)
                                ret='text-primary'
                        elsif (value>0)
                                ret='text-danger'
                        end
                return ret
  end

        def printColor2(value)
                ret=''
                        if (value>=4)
                                ret='text-primary'
                        elsif (value>0)
                                ret='text-danger'
                        end
                return ret
  end
%>

<p id="notice"><%= notice %></p>

<h1>일별거래상세요청</h1>
(Listing Opt10015s)

<table class="table table-bordered">
  <thead>
    <tr>
      <th>일자</th>
      <th>종목코드</th>
      <th>현재가</th>
      <th>대비기호</th>
      <th>전일기호</th>
      <th>등락율</th>
      <th>거래량</th>
      <th>거래대금</th>
      <th>장전거래량</th>
      <th>장전거래비중</th>
      <th>장중거래량</th>
      <th>장중거래비중</th>
      <th>장후거래량</th>
      <th>장후거래비중</th>
      <th>합계3</th>
      <th>기간중거래량</th>
    </tr>
  </thead>

  <tbody>
    <% @opt10015s.each do |rs| %>
    <tr class="<%= cycle('active', 'warning') %>">
        <td><%= rs.stock_date.strftime("%Y-%m-%d") %></td>
        <td><%= rs.stock_code %></td>
        <td class="text-right <%=printColor(rs.current_price) %>"><%= nwd(rs.current_price) %></td>
        <td><%= rs.contrast_symbol %></td>
        <td class="text-right <%=printColor(rs.contrast_yesterday) %>"><%= nwd(rs.contrast_yesterday) %></td>
        <td class="text-right <%=printColor(rs.fluctuation_rate) %>"><%= nwd(rs.fluctuation_rate) %></td>
        <td class="text-right <%=printColor(rs.trade_quantity) %>"><%= nwd(rs.trade_quantity) %></td>
        <td class="text-right <%=printColor(rs.trade_price) %>"><%= nwd(rs.trade_price) %></td>
        <td class="text-right <%=printColor(rs.before_market_trade_quantity) %>"><%= nwd(rs.before_market_trade_quantity) %></td>
        <td class="text-right <%=printColor(rs.before_market_trade_rate) %>"><%= nwd(rs.before_market_trade_rate) %></td>
        <td class="text-right <%=printColor(rs.market_trade_quantity) %>"><%= nwd(rs.market_trade_quantity) %></td>
        <td class="text-right <%=printColor(rs.market_trade_rate) %>"><%= nwd(rs.market_trade_rate) %></td>
        <td class="text-right <%=printColor(rs.after_market_trade_quantity) %>"><%= nwd(rs.after_market_trade_quantity) %></td>
        <td class="text-right <%=printColor(rs.after_market_trade_rate) %>"><%= nwd(rs.after_market_trade_rate) %></td>
        <td class="text-right <%=printColor(rs.sum3) %>"><%= nwd(rs.sum3) %></td>
        <td class="text-right <%=printColor(rs.between_trade_quantity) %>"><%= nwd(rs.between_trade_quantity) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
