<p id="notice"><%= notice %></p>

<p>
  <strong>Stock date:</strong>
  <%= @opt10015.stock_date %>
</p>

<p>
  <strong>Stock code:</strong>
  <%= @opt10015.stock_code %>
</p>

<p>
  <strong>Current price:</strong>
  <%= @opt10015.current_price %>
</p>

<p>
  <strong>Contrast symbol:</strong>
  <%= @opt10015.contrast_symbol %>
</p>

<p>
  <strong>Contrast yesterday:</strong>
  <%= @opt10015.contrast_yesterday %>
</p>

<p>
  <strong>Fluctuation rate:</strong>
  <%= @opt10015.fluctuation_rate %>
</p>

<p>
  <strong>Trade quantity:</strong>
  <%= @opt10015.trade_quantity %>
</p>

<p>
  <strong>Trade price:</strong>
  <%= @opt10015.trade_price %>
</p>

<p>
  <strong>Before market trade quantity:</strong>
  <%= @opt10015.before_market_trade_quantity %>
</p>

<p>
  <strong>Before market trade rate:</strong>
  <%= @opt10015.before_market_trade_rate %>
</p>

<p>
  <strong>Market trade quantity:</strong>
  <%= @opt10015.market_trade_quantity %>
</p>

<p>
  <strong>Market trade rate:</strong>
  <%= @opt10015.market_trade_rate %>
</p>

<p>
  <strong>After market trade quantity:</strong>
  <%= @opt10015.after_market_trade_quantity %>
</p>

<p>
  <strong>After market trade rate:</strong>
  <%= @opt10015.after_market_trade_rate %>
</p>

<p>
  <strong>Sum3:</strong>
  <%= @opt10015.sum3 %>
</p>

<p>
  <strong>Between trade quantity:</strong>
  <%= @opt10015.between_trade_quantity %>
</p>

<%= link_to 'Edit', edit_opt10015_path(@opt10015) %> |
<%= link_to 'Back', opt10015s_path %>
