<p id="notice"><%= notice %></p>

<h1>Listing Theme</h1>

<%= link_to 'New Theme', new_theme_path %>

<table  class="table  table-bordered">
  <thead>
    <tr>
      <th>Theme code</th>
      <th>Theme name</th>
      <th>보기</th>
    </tr>
  </thead>

  <tbody>
    <% @themes.each do |theme| %>
      <tr class="<%= cycle('active', 'warning') %>">
        <td><%= theme.theme_code %></td>
        <td><%= theme.theme_name %></td>

       <td><%= link_to 'Show', theme %></td>

	</tr>
    <% end %>
  </tbody>
</table>

<br>

