<p id="notice"><%= notice %></p>

<p>
  <strong>Stock date:</strong>
  <%= @opt10059.stock_date %>
</p>

<p>
  <strong>Stock code:</strong>
  <%= @opt10059.stock_code %>
</p>

<p>
  <strong>Current price:</strong>
  <%= @opt10059.current_price %>
</p>

<p>
  <strong>Contrast symbol:</strong>
  <%= @opt10059.contrast_symbol %>
</p>

<p>
  <strong>Contrast yesterday:</strong>
  <%= @opt10059.contrast_yesterday %>
</p>

<p>
  <strong>Fluctuation rate:</strong>
  <%= @opt10059.fluctuation_rate %>
</p>

<p>
  <strong>Accumulated trade price:</strong>
  <%= @opt10059.accumulated_trade_price %>
</p>

<p>
  <strong>Buy price domestic investor:</strong>
  <%= @opt10059.buy_price_domestic_investor %>
</p>

<p>
  <strong>Buy amount domestic investor:</strong>
  <%= @opt10059.buy_amount_domestic_investor %>
</p>

<p>
  <strong>Sell price domestic investor:</strong>
  <%= @opt10059.sell_price_domestic_investor %>
</p>

<p>
  <strong>Sell amount domestic investor:</strong>
  <%= @opt10059.sell_amount_domestic_investor %>
</p>

<p>
  <strong>Buy price foreign investor:</strong>
  <%= @opt10059.buy_price_foreign_investor %>
</p>

<p>
  <strong>Buy amount foreign investor:</strong>
  <%= @opt10059.buy_amount_foreign_investor %>
</p>

<p>
  <strong>Sell price foreign investor:</strong>
  <%= @opt10059.sell_price_foreign_investor %>
</p>

<p>
  <strong>Sell amount foreign investor:</strong>
  <%= @opt10059.sell_amount_foreign_investor %>
</p>

<p>
  <strong>Buy price institution:</strong>
  <%= @opt10059.buy_price_institution %>
</p>

<p>
  <strong>Buy amount institution:</strong>
  <%= @opt10059.buy_amount_institution %>
</p>

<p>
  <strong>Sell price institution:</strong>
  <%= @opt10059.sell_price_institution %>
</p>

<p>
  <strong>Sell amount institution:</strong>
  <%= @opt10059.sell_amount_institution %>
</p>

<p>
  <strong>Buy price financial investment:</strong>
  <%= @opt10059.buy_price_financial_investment %>
</p>

<p>
  <strong>Buy amount financial investment:</strong>
  <%= @opt10059.buy_amount_financial_investment %>
</p>

<p>
  <strong>Sell price financial investment:</strong>
  <%= @opt10059.sell_price_financial_investment %>
</p>

<p>
  <strong>Sell amount financial investment:</strong>
  <%= @opt10059.sell_amount_financial_investment %>
</p>

<p>
  <strong>Buy price insurance:</strong>
  <%= @opt10059.buy_price_insurance %>
</p>

<p>
  <strong>Buy amount insurance:</strong>
  <%= @opt10059.buy_amount_insurance %>
</p>

<p>
  <strong>Sell price insurance:</strong>
  <%= @opt10059.sell_price_insurance %>
</p>

<p>
  <strong>Sell amount insurance:</strong>
  <%= @opt10059.sell_amount_insurance %>
</p>

<p>
  <strong>Buy price investment trust:</strong>
  <%= @opt10059.buy_price_investment_trust %>
</p>

<p>
  <strong>Buy amount investment trust:</strong>
  <%= @opt10059.buy_amount_investment_trust %>
</p>

<p>
  <strong>Sell price investment trust:</strong>
  <%= @opt10059.sell_price_investment_trust %>
</p>

<p>
  <strong>Sell amount investment trust:</strong>
  <%= @opt10059.sell_amount_investment_trust %>
</p>

<p>
  <strong>Buy price etc financial:</strong>
  <%= @opt10059.buy_price_etc_financial %>
</p>

<p>
  <strong>Buy amount etc financial:</strong>
  <%= @opt10059.buy_amount_etc_financial %>
</p>

<p>
  <strong>Sell price etc financial:</strong>
  <%= @opt10059.sell_price_etc_financial %>
</p>

<p>
  <strong>Sell amount etc financial:</strong>
  <%= @opt10059.sell_amount_etc_financial %>
</p>

<p>
  <strong>Buy price bank:</strong>
  <%= @opt10059.buy_price_bank %>
</p>

<p>
  <strong>Buy amount bank:</strong>
  <%= @opt10059.buy_amount_bank %>
</p>

<p>
  <strong>Sell price bank:</strong>
  <%= @opt10059.sell_price_bank %>
</p>

<p>
  <strong>Sell amount bank:</strong>
  <%= @opt10059.sell_amount_bank %>
</p>

<p>
  <strong>Buy price pension fund:</strong>
  <%= @opt10059.buy_price_pension_fund %>
</p>

<p>
  <strong>Buy amount pension fund:</strong>
  <%= @opt10059.buy_amount_pension_fund %>
</p>

<p>
  <strong>Sell price pension fund:</strong>
  <%= @opt10059.sell_price_pension_fund %>
</p>

<p>
  <strong>Sell price pension fund:</strong>
  <%= @opt10059.sell_price_pension_fund %>
</p>

<p>
  <strong>Buy price private equity fund:</strong>
  <%= @opt10059.buy_price_private_equity_fund %>
</p>

<p>
  <strong>Buy amount private equity fund:</strong>
  <%= @opt10059.buy_amount_private_equity_fund %>
</p>

<p>
  <strong>Sell price private equity fund:</strong>
  <%= @opt10059.sell_price_private_equity_fund %>
</p>

<p>
  <strong>Sell amount private equity fund:</strong>
  <%= @opt10059.sell_amount_private_equity_fund %>
</p>

<p>
  <strong>Buy price nation:</strong>
  <%= @opt10059.buy_price_nation %>
</p>

<p>
  <strong>Buy price nation:</strong>
  <%= @opt10059.buy_price_nation %>
</p>

<p>
  <strong>Sell price nation:</strong>
  <%= @opt10059.sell_price_nation %>
</p>

<p>
  <strong>Sell amount nation:</strong>
  <%= @opt10059.sell_amount_nation %>
</p>

<p>
  <strong>Buy price etc corporation:</strong>
  <%= @opt10059.buy_price_etc_corporation %>
</p>

<p>
  <strong>Buy amount etc corporation:</strong>
  <%= @opt10059.buy_amount_etc_corporation %>
</p>

<p>
  <strong>Sell price etc corporation:</strong>
  <%= @opt10059.sell_price_etc_corporation %>
</p>

<p>
  <strong>Sell amount etc corporation:</strong>
  <%= @opt10059.sell_amount_etc_corporation %>
</p>

<p>
  <strong>Buy price foregin investment in korea:</strong>
  <%= @opt10059.buy_price_foregin_investment_in_korea %>
</p>

<p>
  <strong>Buy amount foregin investment in korea:</strong>
  <%= @opt10059.buy_amount_foregin_investment_in_korea %>
</p>

<p>
  <strong>Sell price foregin investment in korea:</strong>
  <%= @opt10059.sell_price_foregin_investment_in_korea %>
</p>

<p>
  <strong>Sell amount foregin investment in korea:</strong>
  <%= @opt10059.sell_amount_foregin_investment_in_korea %>
</p>

<%= link_to 'Edit', edit_opt10059_path(@opt10059) %> |
<%= link_to 'Back', opt10059s_path %>
