<p id="notice"><%= notice %></p>

<h1>실시간시세</h1>
(Listing Realtime Prices)

<table class="table table-bordered">
  <thead>
    <tr>
      <th>일자</th>
      <th>종목코드</th>
      <th>현재가</th>
      <th>전일대비</th>
      <th>등락율</th>
      <th>(최우선)매도호가</th>
      <th>(최우선)매수호가</th>
      <th>누적거래량</th>
      <th>누적거래대금</th>
      <th>시가</th>
      <th>고가</th>
      <th>저가</th>
      <th>전일대비기호</th>
      <th>전일거래량대비(계약,주) </th>
      <th>거래대금증감</th>
      <th>전일거래량대비(비율)</th>
      <th>거래회전율</th>
      <th>거래비용</th>
      <th>시가총액(억)</th>
      <th>상한가발생시간</th>
      <th>하한가발생시간</th>
    </tr>
  </thead>

  <tbody>
    <% @realtime_prices.each do |realtime_price| %>
      <tr class="<%= cycle('active', 'warning') %>">
        <td><%= realtime_price.stock_date %></td>
        <td><%= realtime_price.stock_code %></td>
        <td><%= realtime_price.current_price %></td>
        <td><%= realtime_price.contrast_yesterday %></td>
        <td><%= realtime_price.fluctuation_rate %></td>
        <td><%= realtime_price.offered_price %></td>
        <td><%= realtime_price.bid_price %></td>
        <td><%= realtime_price.accumulated_trade_quantity %></td>
        <td><%= realtime_price.accumulated_trade_price %></td>
        <td><%= realtime_price.start_price %></td>
        <td><%= realtime_price.high_price %></td>
        <td><%= realtime_price.low_price %></td>
        <td><%= realtime_price.contrast_yesterday_symbol %></td>
        <td><%= realtime_price.yesterday_contrast_trade_quantity %></td>
        <td><%= realtime_price.trade_amount_variation %></td>
        <td><%= realtime_price.yesterday_contrast_trade_rate %></td>
        <td><%= realtime_price.trade_turnover_ratio %></td>
        <td><%= realtime_price.trade_cost %></td>
        <td><%= realtime_price.total_market_price %></td>
        <td><%= realtime_price.upper_price_limit_time %></td>
        <td><%= realtime_price.lower_price_limit_time %></td>
      </tr>
    <% end %>
  </tbody>
</table>
