<p id="notice"><%= notice %></p>

<h1>Listing Stocks</h1>

<table>
  <thead>
    <tr>
      <th>Stock code</th>
      <th>Stock name</th>
      <th>Stock open date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.stock_code %></td>
        <td><%= stock.stock_name %></td>
        <td><%= stock.stock_open_date %></td>
        <td><%= link_to 'Show', stock %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stock', new_stock_path %>
