<ol>
        <li><%=link_to '마켓보기',markets_path, :target=>"main" %></li>
        <li><%=link_to '종목보기',stocks_path, :target=>"main" %></li>
        <li><%=link_to '계좌 금액확인',account_balance_path, :target=>"main" %></li>
        <li><%=link_to '테마그룹',themes_path , :target=>"main" %></li>
        <li><%=link_to '일일종목데이터',opt10081s_path, :target=>"main" %></li>
        <li><%=link_to '회원사코드',branch_code_names_path, :target=>"main" %></li>

</ol>

