<p id="notice"><%= notice %></p>

<p>
  <strong>Search date:</strong>
  <%= @opw00003.search_date %>
</p>

<p>
  <strong>Account number:</strong>
  <%= @opw00003.account_number %>
</p>

<p>
  <strong>Estimation deposition property:</strong>
  <%= @opw00003.estimation_deposition_property %>
</p>

<%= link_to 'Edit', edit_opw00003_path(@opw00003) %> |
<%= link_to 'Back', opw00003s_path %>
