<p id="notice"><%= notice %></p>

<p>
  <strong>Stock date:</strong>
  <%= @opt10001.stock_date %>
</p>

<p>
  <strong>Stock code:</strong>
  <%= @opt10001.stock_code %>
</p>

<p>
  <strong>Stock name:</strong>
  <%= @opt10001.stock_name %>
</p>

<p>
  <strong>Settling account month:</strong>
  <%= @opt10001.settling_account_month %>
</p>

<p>
  <strong>Face value:</strong>
  <%= @opt10001.face_value %>
</p>

<p>
  <strong>Capital:</strong>
  <%= @opt10001.capital %>
</p>

<p>
  <strong>Stock count:</strong>
  <%= @opt10001.stock_count %>
</p>

<p>
  <strong>Credit rate:</strong>
  <%= @opt10001.credit_rate %>
</p>

<p>
  <strong>,:</strong>
  <%= @opt10001., %>
</p>

<p>
  <strong>Precision:</strong>
  <%= @opt10001.precision %>
</p>

<p>
  <strong>Scale:</strong>
  <%= @opt10001.scale %>
</p>

<p>
  <strong>Year high price:</strong>
  <%= @opt10001.year_high_price %>
</p>

<p>
  <strong>Year low price:</strong>
  <%= @opt10001.year_low_price %>
</p>

<p>
  <strong>Total market price:</strong>
  <%= @opt10001.total_market_price %>
</p>

<p>
  <strong>Total market price rate:</strong>
  <%= @opt10001.total_market_price_rate %>
</p>

<p>
  <strong>,:</strong>
  <%= @opt10001., %>
</p>

<p>
  <strong>Precision:</strong>
  <%= @opt10001.precision %>
</p>

<p>
  <strong>Scale:</strong>
  <%= @opt10001.scale %>
</p>

<p>
  <strong>Foreigner exhaustion rate:</strong>
  <%= @opt10001.foreigner_exhaustion_rate %>
</p>

<p>
  <strong>,:</strong>
  <%= @opt10001., %>
</p>

<p>
  <strong>Precision:</strong>
  <%= @opt10001.precision %>
</p>

<p>
  <strong>Scale:</strong>
  <%= @opt10001.scale %>
</p>

<p>
  <strong>Substitute price:</strong>
  <%= @opt10001.substitute_price %>
</p>

<p>
  <strong>Per:</strong>
  <%= @opt10001.per %>
</p>

<p>
  <strong>,:</strong>
  <%= @opt10001., %>
</p>

<p>
  <strong>Precision:</strong>
  <%= @opt10001.precision %>
</p>

<p>
  <strong>Scale:</strong>
  <%= @opt10001.scale %>
</p>

<p>
  <strong>Eps:</strong>
  <%= @opt10001.eps %>
</p>

<p>
  <strong>,:</strong>
  <%= @opt10001., %>
</p>

<p>
  <strong>Precision:</strong>
  <%= @opt10001.precision %>
</p>

<p>
  <strong>Scale:</strong>
  <%= @opt10001.scale %>
</p>

<p>
  <strong>Roe:</strong>
  <%= @opt10001.roe %>
</p>

<p>
  <strong>,:</strong>
  <%= @opt10001., %>
</p>

<p>
  <strong>Precision:</strong>
  <%= @opt10001.precision %>
</p>

<p>
  <strong>Scale:</strong>
  <%= @opt10001.scale %>
</p>

<p>
  <strong>Pbr:</strong>
  <%= @opt10001.pbr %>
</p>

<p>
  <strong>,:</strong>
  <%= @opt10001., %>
</p>

<p>
  <strong>Precision:</strong>
  <%= @opt10001.precision %>
</p>

<p>
  <strong>Scale:</strong>
  <%= @opt10001.scale %>
</p>

<p>
  <strong>Ev:</strong>
  <%= @opt10001.ev %>
</p>

<p>
  <strong>,:</strong>
  <%= @opt10001., %>
</p>

<p>
  <strong>Precision:</strong>
  <%= @opt10001.precision %>
</p>

<p>
  <strong>Scale:</strong>
  <%= @opt10001.scale %>
</p>

<p>
  <strong>Bps:</strong>
  <%= @opt10001.bps %>
</p>

<p>
  <strong>,:</strong>
  <%= @opt10001., %>
</p>

<p>
  <strong>Precision:</strong>
  <%= @opt10001.precision %>
</p>

<p>
  <strong>Scale:</strong>
  <%= @opt10001.scale %>
</p>

<p>
  <strong>Sales:</strong>
  <%= @opt10001.sales %>
</p>

<p>
  <strong>Business profits:</strong>
  <%= @opt10001.business_profits %>
</p>

<p>
  <strong>D250 high price:</strong>
  <%= @opt10001.d250_high_price %>
</p>

<p>
  <strong>D250 low price:</strong>
  <%= @opt10001.d250_low_price %>
</p>

<p>
  <strong>Start price:</strong>
  <%= @opt10001.start_price %>
</p>

<p>
  <strong>High price:</strong>
  <%= @opt10001.high_price %>
</p>

<p>
  <strong>Low price:</strong>
  <%= @opt10001.low_price %>
</p>

<p>
  <strong>Upper price limit:</strong>
  <%= @opt10001.upper_price_limit %>
</p>

<p>
  <strong>Lower price limit:</strong>
  <%= @opt10001.lower_price_limit %>
</p>

<p>
  <strong>Expectation contract price:</strong>
  <%= @opt10001.expectation_contract_price %>
</p>

<p>
  <strong>:</strong>
  <%= @opt10001. %>
</p>

<p>
  <strong>Expectation contract quantity:</strong>
  <%= @opt10001.expectation_contract_quantity %>
</p>

<p>
  <strong>D250 high date:</strong>
  <%= @opt10001.d250_high_date %>
</p>

<p>
  <strong>D250 high rate:</strong>
  <%= @opt10001.d250_high_rate %>
</p>

<p>
  <strong>,:</strong>
  <%= @opt10001., %>
</p>

<p>
  <strong>Precision:</strong>
  <%= @opt10001.precision %>
</p>

<p>
  <strong>Scale:</strong>
  <%= @opt10001.scale %>
</p>

<p>
  <strong>D250 low date:</strong>
  <%= @opt10001.d250_low_date %>
</p>

<p>
  <strong>D250 low rate:</strong>
  <%= @opt10001.d250_low_rate %>
</p>

<p>
  <strong>,:</strong>
  <%= @opt10001., %>
</p>

<p>
  <strong>Precision:</strong>
  <%= @opt10001.precision %>
</p>

<p>
  <strong>Scale:</strong>
  <%= @opt10001.scale %>
</p>

<p>
  <strong>Current price:</strong>
  <%= @opt10001.current_price %>
</p>

<p>
  <strong>Contrast symbol:</strong>
  <%= @opt10001.contrast_symbol %>
</p>

<p>
  <strong>Contrast yesterday:</strong>
  <%= @opt10001.contrast_yesterday %>
</p>

<p>
  <strong>Fluctuation rate:</strong>
  <%= @opt10001.fluctuation_rate %>
</p>

<p>
  <strong>,:</strong>
  <%= @opt10001., %>
</p>

<p>
  <strong>Precision:</strong>
  <%= @opt10001.precision %>
</p>

<p>
  <strong>Scale:</strong>
  <%= @opt10001.scale %>
</p>

<p>
  <strong>Trade quantity:</strong>
  <%= @opt10001.trade_quantity %>
</p>

<p>
  <strong>Trade contrast:</strong>
  <%= @opt10001.trade_contrast %>
</p>

<p>
  <strong>,:</strong>
  <%= @opt10001., %>
</p>

<p>
  <strong>Precision:</strong>
  <%= @opt10001.precision %>
</p>

<p>
  <strong>Scale:</strong>
  <%= @opt10001.scale %>
</p>

<p>
  <strong>Face value unit:</strong>
  <%= @opt10001.face_value_unit %>
</p>

<%= link_to 'Edit', edit_opt10001_path(@opt10001) %> |
<%= link_to 'Back', opt10001s_path %>
