<p id="notice"><%= notice %></p>

<p>
  <strong>Stock code:</strong>
  <%= @opt10080.stock_code %>
</p>

<p>
  <strong>Current price:</strong>
  <%= @opt10080.current_price %>
</p>

<p>
  <strong>Trade quantity:</strong>
  <%= @opt10080.trade_quantity %>
</p>

<p>
  <strong>Contract time:</strong>
  <%= @opt10080.contract_time %>
</p>

<p>
  <strong>Start price:</strong>
  <%= @opt10080.start_price %>
</p>

<p>
  <strong>High price:</strong>
  <%= @opt10080.high_price %>
</p>

<p>
  <strong>Low price:</strong>
  <%= @opt10080.low_price %>
</p>

<p>
  <strong>Modify stock gubun:</strong>
  <%= @opt10080.modify_stock_gubun %>
</p>

<p>
  <strong>Modify rate:</strong>
  <%= @opt10080.modify_rate %>
</p>

<p>
  <strong>,:</strong>
  <%= @opt10080., %>
</p>

<p>
  <strong>Precision:</strong>
  <%= @opt10080.precision %>
</p>

<p>
  <strong>Scale:</strong>
  <%= @opt10080.scale %>
</p>

<p>
  <strong>Big type of business:</strong>
  <%= @opt10080.big_type_of_business %>
</p>

<p>
  <strong>Small type of business:</strong>
  <%= @opt10080.small_type_of_business %>
</p>

<p>
  <strong>Stock info:</strong>
  <%= @opt10080.stock_info %>
</p>

<p>
  <strong>Modify stock event:</strong>
  <%= @opt10080.modify_stock_event %>
</p>

<p>
  <strong>Yesterday current price:</strong>
  <%= @opt10080.yesterday_current_price %>
</p>

<%= link_to 'Edit', edit_opt10080_path(@opt10080) %> |
<%= link_to 'Back', opt10080s_path %>
